.footer {
    font-size: 1.25rem;
    &__title {
        font-weight: 600;
        margin-bottom: 1.25rem;
    }
    &__content {
        p {
            margin-bottom: 1rem;
        }
    }
    &__logo {
        height: 48px;
        margin-bottom: 1.25rem;
    }
}