.hero-slider {
    height: 100vh;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    margin-top: calc(#{$header-height} * -1);
    @include tablet {
        margin-top: calc(#{$header-tablet-height} * -1);
    }
    @include mobile {
        margin-top: calc(#{$header-mobile-height} * -1);
    }
    &__control {
        @include flex(center, center);
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        &__item {
            @include flex(center, center);
            font-size: 1.5rem;
            cursor: pointer;
            &__page {
                cursor: default;
                font-size: 1.5rem;
            }
        }
        @include tablet {
            bottom: 0;
        }
    }
    &__item {
        @include flex(center, space-between);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        inset: 0;
        &.active {
            visibility: visible;
            opacity: 1;
            pointer-events: visible;
        }
        @include tablet {
            flex-direction: column-reverse;
            padding-top: $header-tablet-height;
        }
        @include mobile {
            padding-top: unset;
            padding-bottom: 40px;
        }
        &__info {
            width: 58.33%;
            &__title,
            &__description {
                margin-bottom: 60px;
                @include tablet {
                    margin-bottom: 15px;
                }
            }
            @include tablet {
                width: 100%;
                flex-grow: 1;
            }
            &__title {
                font-weight: 600;
                font-size: 4.5rem;
                font-family: "M PLUS Rounded 1c", sans-serif;
                line-height: 6.57rem;
                overflow: hidden;
                @include tablet {
                    font-size: 4rem;
                    line-height: 5rem;
                }
                @include mobile {
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }
            &__description {
                color: $txt-second-color;
                line-height: 2.5rem;
                font-size: 1.5rem;
                overflow: hidden;
                @include mobile {
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
            }
            &__btn {
                overflow: hidden;
            }
            &__title>span,
            &__description>span,
            &__btn {
                display: block;
                transform: translateY(-100%);
                transition: transform 0.3s ease;
            }
        }
        &.active &__info {
            &__title>span,
            &__description>span,
            &__btn {
                transform: translateY(0);
            }
        }
        &__image {
            position: relative;
            height: 100%;
            pointer-events: none;
            z-index: 101;
            flex-grow: 1;
            @include tablet {
                @include flex(center, center);
                width: 100%;
                height: 60%;
                z-index: 97;
            }
            @include mobile {
                @include flex(center, center);
                width: 100%;
                height: 50%;
                z-index: 97;
            }
            img {
                height: 100vh;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: scale(0) rotate(65deg);
                transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                @include tablet {
                    position: relative;
                    height: 100%;
                }
            }
            .shape {
                $size: 472px;
                height: $size;
                width: $size;
                position: absolute;
                right: 0;
                top: 50%;
                border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
                transform: translateY(-50%);
                transition: border-radius 0.13 ease;
                animation: border 10s infinite;
                @include tablet {
                    $size: 350px;
                    height: $size;
                    width: $size;
                    position: absolute;
                    right: 50%;
                    transform: translate(50%, -50%);
                }
                @include mobile {
                    $size: 220px;
                    height: $size;
                    width: $size;
                    position: absolute;
                    right: 50%;
                    transform: translate(50%, -50%);
                }
            }
        }
        &.active &__image>img {
            transform: scale(1) rotate(0);
        }
    }
}

@keyframes border {
    0% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
    50% {
        border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
    }
    100% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
}